.footer-container{
    border: 1px solid black;
    height: 75px;
    width: 100%;
    background-color: grey;
    display: flex;
}

.social-media-container{
    border: 1px solid black;
    height: 75px;
    width: 30%;
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.social-media-icon {
    height: 50px;
    width: auto;
    margin: 0 20px;
}

.copyright-container{
    border: 1px solid black;
    height: 75px;
    width: 40%;
    background-color: black;
    color: white;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container{
    border: 1px solid black;
    height: 75px;
    width: 30%;
    background-color: black;
}

@media (max-width: 600px) {
    .footer-container {
        /* Flex direction change to stack elements vertically */
       
        height: auto; /* Adjust height to accommodate stacked items */
        width: 100%;
        position: fixed;
        bottom: 0;
       
    }

    .social-media-container,
    .copyright-container,
    .right-container {
        /* Set width to 100% to fill the container horizontally */
        width: 200%;
        height: auto; /* Adjust height if necessary */
        border: none; /* Optional: remove borders for a cleaner look */
    }

    .social-media-icon {
        /* Adjust margin and potentially size for smaller screens */
        margin: 0 10px; /* Reduced margin */
        height: 40px; /* Optional: adjust size if necessary */
    }

    .copyright-container {
        /* Adjust font size for smaller screens if necessary */
        font-size: small;
    }
}
